@import './variables';
.topic-container{
    background-color: $darkGrey;
    padding: 40px;
    margin-top: 20px;
    .border-topic{
        border-top:10px solid $black;
        border-right:10px solid $black;
        border-top-right-radius: 20px;
        padding: 50px;
        padding-bottom: 0;
        padding-left: 0;
        position: relative;
        .topic-legend{
            position: absolute;
            top: -13%;
            left: 0;
            text-align: left;
            font-weight: 900;
            color: $white;
            font-size: 30px;
            background-color: $darkGrey;
            padding: 0px 20px 0px 20px;
        }
        .topic-content{
            margin: 5px;
            display: flex;
            justify-content: space-evenly;
            width:100%;
            cursor: pointer;
            flex-wrap: wrap;
            .topic-topic-content{
                display: flex;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                border: 2px solid $darkGrey;
                max-width: 24%;
                .topic-paragraph{
                    position: absolute;
                    font-weight: 600;
                    color: $white;
                    transition:.3s;
                    font-size: 24px;
                }
                img{
                    display: inline-block;
                    max-inline-size: 100%;
                    block-size: auto;
                    transition: all .3s ease-in-out;
                }
                &:hover {
                    border: 2px solid $red;
                    img{
                        transform: scale(1.1);
                        opacity: .4;
                    }
                    .topic-paragraph{
                        font-weight: 900;
                    }
                }


            }
        }
    }
}
@media (max-width: 800px){
    .topic-container{
        padding: 10px;
        .border-topic{
            padding: 10px;
            .topic-legend{
                top: -2ch;
                font-size: 2ch;
                font-weight: 600;
            }
            .topic-content{
                padding:0;
                margin: 0;
                gap: 10px;
                flex-direction: column;
                .topic-topic-content{
                    min-width: 100%;
                }
            }
        }
    }
}